name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          npm install
      - run: |
          npm run all
  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: start mockserver
        run: docker run -d --rm --name mockserver -p 1080:1080 -v $PWD/mockserver.json:/config/initializer.json -e MOCKSERVER_INITIALIZATION_JSON_PATH=/config/initializer.json mockserver/mockserver
      - uses: ./
        id: promote
        with:
          url: http://localhost:1080
          sourceRepo: docker-dev
          targetRepo: docker-prod
          dockerRepository: library/base
          tag: main
          targetTag: v1
      - name: echo output variable
        if: success() && steps.promote.outputs.image
        run: echo "Promoted image ${{ steps.promote.outputs.image }}"
      - name: remove mockserver container
        if: always()
        run: |
            docker logs mockserver
            docker rm -f mockserver
